body{
     background-image: url('bottle13.jpg');
     background-size:cover;
     background-repeat: no-repeat;
     background-position:center;
     height: 70%;
    
     
} 


h1 {
  margin-top:30% ;
  font-family: cursive;
}
.sidenav {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 7px 7px 7px 30px;
  text-decoration: none;
  font-size: 25px;
  color: grey;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: yellow;
}
.text{
      margin-right: auto;
      font-weight: bold;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


footer{
       margin-top:auto;
       margin-top: 10%;
}

@media screen and (max-height: 400px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  body, html {
    height: 100%;
    margin: 0;
  }

